In [1]:
import pandas as pd

In [4]:
csv_file = "Resources/2015.csv"
fifteen_df = pd.read_csv(csv_file)
fifteen_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [13]:
new_fifteen_df = fifteen_df[['Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)']].copy()
new_fifteen_df.head()

       Country  Happiness Rank  Happiness Score  Economy (GDP per Capita)
0  Switzerland               1            7.587                   1.39651
1      Iceland               2            7.561                   1.30232
2      Denmark               3            7.527                   1.32548
3       Norway               4            7.522                   1.45900
4       Canada               5            7.427                   1.32629

In [7]:
csv_file = "Resources/2016.csv"
sixteen_df = pd.read_csv(csv_file)
sixteen_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [14]:
new_sixteen_df = sixteen_df[['Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)']].copy()
new_sixteen_df.head()

       Country  Happiness Rank  Happiness Score  Economy (GDP per Capita)
0      Denmark               1            7.526                   1.44178
1  Switzerland               2            7.509                   1.52733
2      Iceland               3            7.501                   1.42666
3       Norway               4            7.498                   1.57744
4      Finland               5            7.413                   1.40598